<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<ui:composition template="layout.xhtml">
    <ui:define name="content">
        <h:form id="form">
            <p:panel>
                <f:facet name="header">
                    <h:outputText value="Current Time: "/>
                    <h:outputText value="#{orderList.getDate()}">
                        <f:convertDateTime pattern="HH:mm:ss"/>
                    </h:outputText>
                </f:facet>
                <p:dataTable id="table" var="order" value="#{orderList.orders}">
                    <p:column style="width:16px">
                        <p:rowToggler />
                    </p:column>
                    <p:column>
                        <f:facet name="header"># Id</f:facet>
                        <h:outputText value="#{order.id}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Customer</f:facet>
                        <h:outputText value="#{order.customerName}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Adress</f:facet>
                        <h:outputText value="#{order.customerAdress}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Total</f:facet>
                        <h:outputText value="#{order.total}"/>
                    </p:column>
                    <p:column>
                        <f:facet name="header">Date</f:facet>
                        <h:outputText value="#{order.date}">
                            <f:convertDateTime pattern="yyyy-MM-dd"/>
                        </h:outputText>
                    </p:column>

                    <p:rowExpansion>
                        <p:dataTable value="#{order.products}" var="product" class="my-table">
                            <p:column>
                                <f:facet name="header">Position</f:facet>
                                <h:outputText value="#{product.id.position}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">Serial</f:facet>
                                <h:outputText value="#{product.serialNumber}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">Name</f:facet>
                                <h:outputText value="#{product.name}"/>
                            </p:column>
                            <p:column>
                                <f:facet name="header">Amount</f:facet>
                                <h:outputText value="#{product.amount}"/>
                            </p:column>
                        </p:dataTable>
                    </p:rowExpansion>

                </p:dataTable>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>
</html>
